
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form method="post" action="/Home/Validar">
            Usuario
            <input type="text" name="usuario"/>
            <br />
           password
            <input type="text" name="pass"/>
            <br />
            
            <input type="submit" value="Confirmar" />

        </form>
    </div>
</body>
</html>
