@model Acceso.Models.Usuario
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Validar</title>
</head>
<body>
    <h1>
        @Session["usuario"]
    </h1>
</body>
</html>
